fastapi==0.104.1
oauthlib==3.2.2
ujson==5.8.0
uvicorn==0.23.2
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.8.0
python-multipart==0.0.6